#lateral {
    position: sticky;
    top: 60px;
    height: 100vh;
    width: 20%;
    background-color: $cor-menu;
    color: $cor-texto;
    padding: 40px 40px 50px 40px;

    #conteudo-lateral {
        text-align: center;

        a {
            color: $cor-texto;

            &:link,
            &:visited {
                text-decoration: none;
            }

            &:hover {
                color: $cor-hover;
            }

            #info {
                text-decoration: none;

                img {
                    margin: 0px auto;
                    border-radius: 50%;
                    width: 25%;
                }

                h1 {
                    margin-top: 10px;
                    font-size: 150%;
                }

                h2 {
                    margin-top: 5px;
                    font-size: 110%;
                }
            }
        }


        p {
            margin-top: 35px;
        }

        #social {
            margin-top: 100px;

            img {
                width: 30px;
                margin-right: 10px;
                margin-left: 10px;
                filter: drop-shadow(10px 10px 5px #6f7f8c);
                -webkit-filter: drop-shadow(10px 10px 5px #6f7f8c);
                -moz-filter: drop-shadow(10px 10px 5px #6f7f8c);
                filter: invert(51%) sepia(11%) saturate(600%) hue-rotate(165deg) brightness(94%) contrast(82%);
                //filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);

                &:hover {
                    filter: invert(47%) sepia(88%) saturate(1414%) hue-rotate(177deg) brightness(99%) contrast(92%);
                }

            }
        }
    }


    span {
        font-size: 150%;
        font-family: $fonte-negrito;
    }

    ul {
        list-style: none;
        padding-left: 0px;

        a {
            text-decoration: none;
            color: white;

            &:hover {
                color: $cor-hover;
            }
        }

        li {
            margin-bottom: 7px;
        }
    }
}


@media only screen and (max-width:800px) {
    #lateral {
        background-color: blue;
        display: none;
    }
}

@media only screen and (max-device-width:600px) {
    #lateral {
        background-color: blue;
        display: none;
    }
}