$cor-banner: #1c1d22;
$cor-menu: #192734;
$cor-rodape: #2c3e50;
$cor-hover: #1fa1f2;
$cor-fundo: #16202c;
$cor-texto-header: #6f7f8c;
$cor-texto: #6f7f8c;
$c_0: #000000;
$c_1: #353540;
$h-color: #9CC9E3;
$yellow: #D0BB57;
$txt-color: #DCE3E7;
$color_white: #fff;
$color_prime: #1fa1f2;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;