extends layout

block conteudo
    .conteudo-noticia
        h2.titulo Como uma lula pode ajuda a tornar células humanas invisíveis
        p.data-da-materia 09/06/2020 às 22:00 - Autor: Julia Marinho

        img.imagem-principal(src="./img/lula.jpg", alt="Arte de uma cabeça com cérebro aparente")
        p A maneira como polvos, lulas e outras criaturas do mar conseguem se camuflar, mudando rapidamente de cor e até mesmo de textura usando tecidos especializados para manipular a transmissão e o reflexo da luz, sempre fascinou a ciência.
        
        p "Por milênios, as pessoas sempre foram fascinadas com a transparência e a invisibilidade desses animais. Nosso projeto centra-se na engenharia de sistemas e tecidos celulares com propriedades controláveis para transmitir, refletir e absorver luz”, disse o principal autor do trabalho, o engenheiro químico e biomolecular Atrouli Chatterjee.

        p A pesquisa, publicada na Nature Communications, teve como objeto de estudo a fêmea de Doryteuthis opalescens, uma pequena lula opalescente que usa, como principal estratégia para enganar seus predadores (principalmente tubarões e leões marinhos), trocar a cor da faixa que tem nas costas – de translúcido para branco opaco.

        p O trabalho da equipe de Chatterjee consistiu em extrair a proteína envolvida na técnica de camuflagem biológica e, depois, introduzi-la em células humanas. O objetivo era descobrir se o poder da lula de dispersar a luz se repetiria em células de outros animais.

