extends layout

block conteudo
    #container
        .card
            .card_cover(style="background-image: url(https://images.unsplash.com/reserve/jEs6K0y1SbK3DAvgrBe5_IMG_3410.jpg?ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80);")
                .title-content
                    h3 SPRING FEVER
                    hr
                    .intro Yllamco laboris nisi ut aliquip ex ea commodo.
                .card-info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .utility-info
                    ul.utility-list
                        li.comments 12
                        li.date 03.12.2015
                .gradient-overlay
                .color-overlay

        .card
            .card_cover(style="background-image: url(../img/personal.jpg);")
                .title-content
                    h3 SPRING FEVER
                    hr
                    .intro Yllamco laboris nisi ut aliquip ex ea commodo.
                .card-info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .utility-info
                    ul.utility-list
                        li.comments 12
                        li.date 03.12.2015
                .gradient-overlay
                .color-overlay       
        .card
            .card_cover(style="background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_1.jpg);")
        .card
            .card_cover(style="background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_1.jpg);")
        .card
            .card_cover(style="background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_1.jpg);")



    h2 Portfólio