extends layout

block conteudo
    .noticias-principais
        .card-principal-esquerda.card
            a(href="/neuronios")
                .embrulho
                    .data
                        span.dia 09
                        span.mes Jun
                        span.ano 2020
            .dados
                .card-conteudo
                    span.autor Lucas Paniago
                    h1.titulo
                        a(href='/neuronios') 'Neurônios' de silício podem trazer nova dimensão a computadores
                    p.texto
                        a(href='/neuronios') Um estudo publicado pela Frontiers in Neuroscience revelou a possibilidade de aplicação de uma característica de neurônios humanos a computadores
        .card-principal-direita.card
            a(href="/lula")
                .embrulho
                    .cabecalho
                        .data
                            span.dia 09 
                            span.mes Jun 
                            span.ano 2020 
            .dados
                .card-conteudo
                    span.autor Lucas Paniago
                    h1.titulo
                        a(href='/lula') Stranger Things: The sound of the Upside Down
                    p.texto
                        | The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out todia.
                    a.leia-mais(href='/lula') Leia mais

    .noticias-secundarias
        .card-secundario
            .cabecalho
                a(href="/lula")
                    .foto(style='background-image: url(./img/sol.jpg)')
                    ul.detalhes
                        li.autor
                            a(href='#') Lucas Paniago
                        li.data Junho. 09, 2020
            .dados
                a(href="/lula")
                    h1 Learning to Code
                    h2 Opening a door to the future
                    p
                    |   icta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.
                    p.leia-mais
                        a(href='/lula') Leia mais
        .card-secundario.alt
            .cabecalho
                a(href="/lula")
                    .foto(style='background-image: url(./img/yoga.jpg)')
                    ul.detalhes
                        li.autor
                            a(href='#') Lucas Paniago
                        li.data Junho. 09, 2020
            .dados
                a(href="/lula")
                    h1 Mastering the Language
                    h2 Java is not the same as Java
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati
                    p.leia-mais
                        a(href='/lula') Leia mais
        .card-secundario
            .cabecalho
                a(href="/lula")
                    .foto(style='background-image: url(./img/aviao.jpg)')
                    ul.detalhes
                        li.autor
                            a(href='#') Lucas Paniago
                        li.data Junho. 09, 2020
            .dados
                a(href="/lula")
                    h1 Learning to Code
                    h2 Opening a door to the future
                    p
                    |   icta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.
                    p.leia-mais
                        a(href='/lula') Leia mais
        .card-secundario.alt
            .cabecalho
                a(href="/lula")
                    .foto(style='background-image: url(./img/carros.jpg)')
                    ul.detalhes
                        li.autor
                            a(href='#') Lucas Paniago
                        li.data Junho. 09, 2020
            .dados
                a(href="/lula")
                    h1 Mastering the Language
                    h2 Java is not the same as Java
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati
                    p.leia-mais
                        a(href='/lula') Leia mais