extends layout

block conteudo
    .conteudo-noticia
        h2.titulo 'Neurônios' de silício podem trazer nova dimensão a computadores
        p.data-da-materia 09/06/2020 às 21:00 - Autor: Reinaldo Zaruvni

        img.imagem-principal(src="./img/neuronios.jpg", alt="Arte de uma cabeça com cérebro aparente")
        p Um estudo publicado pela Frontiers in Neuroscience revelou a possibilidade de aplicação de uma característica de neurônios humanos a computadores, expandindo a dimensão de processadores. A partir de células simuladas de silício, pesquisadores da Universidade de Washington chegaram a um protocolo de comunicação dinâmico a distância mais robusto e mais eficiente em termos de energia do que os equipamentos tradicionais.
        
        p Tudo se trata de fazer “mais com menos”, uma vez que a pesquisa foi realizada a partir de um questionamento aparentemente simples: o que um neurônio faz para armazenar energia que uma máquina não faz? Bem, a verdade é que neurônios fazem menos, já que as configurações de energia em um sistema, juntamente com os neurônios de propriedade intrínseca, precisam passar para a configuração de menor gasto para atingirem a excelência de preservação – ação chamada de restrição de energia.

        p Ahana Gangopadhyay, principal autora do artigo, se dedica há algum tempo a investigações para estudar restrições de energia em neurônios criados artificialmente que mostram a mesma dinâmica de comportamento dos presentes em nosso cérebro. Semelhantes às orgânicas, as células biônicas dependem de determinadas condições para serem ativadas – sendo que essas ativações são a base da comunicação e da transmissão de informação.

        p A partir desse cenário, Ahana e sua equipe analisaram restrições de energia em único exemplar. Depois, outros foram adicionados. Com a combinação certa, chegaram à conclusão de que é possível criar um canal de comunicação virtual, desde que se encontre o ponto certo de eficiência e de semelhança, em que respostas sejam ativadas somente por aqueles que tenham configuração idêntica.

