extends layout

block conteudo
    h2 Portfólio
    #container  
        
        .card
            .card_cover(style="background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_1.jpg);")
        .card
            .card_cover(style="background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_1.jpg);")
        .card
            .card_cover(style="background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_1.jpg);")



    