header {
    background-color: $cor-banner;
    color: $cor-texto-header;
    text-align: center;
    padding: 15px 0px 10px 0px;
    a {
        color: $cor-texto-header;
        &:link,
            &:visited {
                text-decoration: none;
            }

    }
    h1 {
        font-family: $fonte-decorativa;
        //color: #67809f;
        font-size: 250%;
        text-shadow: 1px 1px rgb(69, 80, 80);
    }
}


header * {
    //background-color: orange;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    z-index: 100;
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
    width: 100%;
    background-color: $cor-banner;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .4); 
}

.menu {
    //background-color: orange;
    font-family: $fonte-decorativa;
    width: 80%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    list-style: none;

    li {
        margin-top: 10px;
        width: 125px;
        height: 50px;
        transition: background-position-x 0.9s linear;
        text-align: center;

        a {
            font-size: 22px;
            color: $cor-texto-header;
            text-decoration: none;
            transition: all 0.45s;
        }

        &:hover {
            filter: invert(47%) sepia(88%) saturate(1414%) hue-rotate(177deg) brightness(99%) contrast(92%);
            background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
            animation: line 1s;
        }

        &:hover a {
            color: $cor-hover;
        }

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

@keyframes line {
    0% {
        background-position-x: 390px;
    }
}